body{
    background-color: #EAF6F6;
    margin: 0;
    text-align: center;
    font-style: 'Merriweather',serif;
    font-size: 150%;
    
}
.header{
    background-color:#66BFBF; 
    padding: 30px;
}
.head{
    
        color:#11999E;
        font-family:'Montserrat', sans-serif;
        font-weight: bold;
        margin: 30px 30px;
        text-decoration: none;
    }
        
    .head:hover{
        color: #EAF6F6;
    }
        

p{
    line-height: 2;
}
.propic{
    border-radius: 100%;
     height: 200px;
     width: 200px;
     
}
.intro{
    padding:100px auto 100px;
}
.myintro{
    width: 30%;
    margin: auto;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}
h2{
    font-family:'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 900;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr{
    border-style: none;
    border-top-style: dotted ;
    border-color:grey;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
.top{
    background-color:#e4f9f5;
    position: relative;
    padding-top: 100px;
}
.mid{
    margin: 100px 0;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.skillimg1{
    border-radius: 100%;
    width: 25%;
    float: left;
    padding: 30px;
}
.skillimg2{
    border-radius: 100%;
    width: 25%;
    float: right;
    padding: 30px;
}
.bottom{

background-color: #66BFBF;    
padding: 50px 0 20px;
}

.bottomcloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.topcloud{
    position: relative;
    top: 40px;
    left: 300px;
}
.contact{
    margin:100px auto;
}
.contactmsg{
    width: 40%;
    margin: 40px auto 60px;
}
.footer{
    color:#11999E;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
    
    
}
.footer:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;

    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }